@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}
.main{
 max-width: 1140px;
 margin: 0 auto;
 font-family: "Azeret Mono", monospace;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
}
.myname{
    color: rgb(13, 19, 33);
    font-size: 28px;
    font-weight: 800;
}
.primary-button{
    padding: 17px 24px;
    font-size: 20px;
    font-weight: 600;
    background: transparent;
    color: rgb(13, 19, 33);
    border: 2px solid rgb(13, 19, 33);
    

}
#banner{
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 652px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    
}
.banner-content{
    max-width: 1140px;
    text-align: center;
 height: 582px;
 width: 998px;
}
#banner img{
    max-width: 240px;
    max-height: 240px;
    padding-top: 31px;
  
}
.banner-title{
  font-size: 48px;
  font-weight: 800;
  color: #0D1321;
    
}
.banner-description{
    font-size: 16px;
    line-height: 26px;
   text-align: center;
   margin-top: 24px;
   margin-bottom: 32px;
}
.banner-btn{
    padding: 21px 24px;
    color: #fff;
    background-color:rgb(13, 19, 33) ;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
}

#about{
    width: 1140px;
    padding: 80px 97px;
    background-color: rgba(13,19,33,0.2) ;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;
}
.section-top{
    text-align: center;
    padding: 0px 47px;
    padding-bottom: 47px;
    
}
.section-titile{
    color: #0D1321;
    font-size: 32px;
    font-weight: 800;
}
.section-description{
    font-size: 16px;
    color: rgb(13, 19, 33);
    padding-top: 24px;
}

.there-box{
    display: flex;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    padding: 48px;
    margin: 16px 0px;
    justify-content: space-between;
}
.box-content{
 width: 477px;

}
.box-title{
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
    margin-bottom: 10px;
}
.box-description{
    font-size: 16px;
    color:rgb(13, 19, 33) ;
    line-height: 26px;
    margin-bottom: 20px;
}
.box-btn{
    cursor: pointer;
    padding: 12px 20px;
    color: rgb(13, 19, 33) ;
    border: 1px solid rgb(13, 19, 33);
}
.tow-box{
    display: flex;
    justify-content: flex-start;
    background-color: rgb(255, 255, 255);
    border-radius: 16px;
    margin: 16px 0px;
    padding: 48px;
    
}
#myins{
    max-width: 1140px;
    margin: 0 auto;
    font-family: "Azeret Mono", monospace;
    padding-top: 30px;
}
.video{
    text-align: center;
    border: 1px solid #333;
    padding: 10px;
    border-radius: 8px;
}
iframe{
  

    border-radius: 8px;

}